footer{
    display: grid;
    grid-template: repeat(3, minmax(70px, auto)) repeat(2, minmax(50px, auto)) minmax(70px, auto) / 10px repeat(3, 1fr) 10px;
    grid-template-areas: "superior footer1 footer1 footer1 superior2"
                         "superior footer2 footer2 footer2 superior2"
                         "superior footer3 footer4 footer5 superior2"
                         "inferior footer6 footer6 footer6 inferior2"
                         "inferior footer7 footer7 footer7 inferior2"
                         "inferior footer8 footer8 footer8 inferior2";
}

@media only screen and (max-width: 767px){
    footer{
        display: grid;
        grid-template: minmax(70px, auto) minmax(200px, auto) minmax(70px, auto) minmax(80px, auto) minmax(50px, auto) / 10px repeat(2, 1fr) 10px;
        grid-template-areas: "superior footer1 footer1 superior2"
                             "superior footer2 footer8 superior2"
                             "superior footer4 footer4 superior2"
                             "inferior footer6 footer6 inferior2"
                             "inferior footer7 footer7 inferior2";
    }
    .footer1{
        grid-area: footer1;
    }
    .footer2{
        display: flex;
        align-items: center;
    }
    .footer2 > ul{
        width: 98%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-right: 1px solid #3848a5;
    }
    .footer4{
        grid-area: footer4;
    }
    .texto-derechos-footer6{
        line-height: 20px;
    }
    .footer8{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: #152B53;
        border-bottom: 1px solid #3848a5;
    }
}

.superior{
    grid-area: superior;
    background: #152B53;
}

.superior2{
    grid-area: superior2;
    background: #152B53;
}

.inferior{
    grid-area: inferior;
    background: #203968;
}

.inferior2{
    grid-area: inferior2;
    background: #203968;
}

.footer1{
    grid-area: footer1;
    text-align: center;
    background: #152B53;
    border-bottom: 1px solid #3848a5;
}

.texto-footer1{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #abb2b8;
    padding: 10px 0;
}

audio{
    padding-bottom: 10px;
}

.footer2{   
    grid-area: footer2; 
    background: #152B53;
    border-bottom: 1px solid #3848a5;
}

@media only screen and (min-width: 768px){
    .footer2 > ul{
        width: 100%;
        height: 100%;    
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .separador-footer2{
        height: 15px;
        width: 1px;
        background: #abb2b8;
    }
    .texto-enlaces-footer2{
        padding: 5px 0;
    }
}

.texto-enlaces-footer2{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #abb2b8;   
}

.texto-enlaces-footer2:hover{
    border-bottom: 1px solid #f8a12d;
}

.footer3{
    grid-area: footer3;
    background: #152B53;
}

.footer4{
    grid-area: footer4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #152B53;
}

.iconos-redes-footer4{
    width: 25px;
}

.footer5{
    grid-area: footer5;
    background: #152B53;
}

.footer6{
    grid-area: footer6;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #203968;
    border-bottom: 1px solid #AEAEAE;
}

@media only screen and (max-width: 575px){
    .footer6{
        display: grid;
        grid-template: 1fr / 75% 25%;
        grid-area: "textoizq imagender";
    }
    .logo-footer6{
        display: block;
        width: 40px;
    }
}

@media only screen and (min-width: 576px){
    .texto-derechos-footer6{
        font-weight: bold;
    }
    .logo-footer6{
        display: none;
    }
}

.texto-derechos-footer6{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #abb2b8;
}

@media only screen and (min-width: 768px){
    .footer6{
        align-items: center;
    }
    .texto-derechos-footer6{
        display: inline;
    }
}

.footer7{
    grid-area: footer7;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #203968;
    border-bottom: 1px solid #3848a5;
}

.texto-desarrollo-footer7{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color: #abb2b8;
}

@media only screen and (min-width: 576px){
    .texto-desarrollo-footer7{
        font-weight: bold;
    }
}

.footer8{
    grid-area: footer8;
    display: flex;
    justify-content: space-around;    
}

@media only screen and (min-width: 768px){
    .footer8{
        align-items: center;
        background: #203968;
    }
}

@media only screen and (min-width: 381px){
    .texto-contactos-footer8{
        display: inline;
    }
    .iconos-footer8{
        vertical-align: middle;
    }
}

.iconos-footer8{
    width: 25px;    
}

.texto-contactos-footer8{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #abb2b8;   
}