nav{
    background: #253C68;
}

#btn-menu{
    display: none;
}

nav label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

nav label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.icono-menu-nav{
    width: 30px;
}

.menu ul{
    display: flex;    
}

.menu li{
    flex-grow: 1;
    text-align: center;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

@media only screen and (max-width: 767px){
    nav label{
        display: block;        
    }
    .menu{
        position: absolute;
        width: 50%;
        background: #253C68;
        margin-left: -50%;
        transition: 0.5s;
        overflow: hidden;
    }
    .menu ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;    
    }
    .menu li a{
        padding: 15px 0;
    }
    .menu li{
        text-align: start;
        padding-left: 10px;
        border-top: 1px solid #fff;
    }
}