nav{
    background: #253C68;
}

#btn-menu{
    display: none;
}

nav label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

nav label:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.icono-menu-nav{
    width: 30px;
}

.menu ul{
    display: flex;
}

.menu li{
    flex-grow: 1;
    text-align: center;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}

.menu li a{
    display: block;
    padding: 20px 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
}

.menu li img{
    display: none;
    width: 30px;
    height: 30px;
}

.margen-nav-separador-superior{
    height: 20px;
    background: #fff;
}

.margen-nav-separador-inferior{
    height: 10px;
    background: #fff;
}

.separador-deportes{
    background: #fff;
    margin: 0px !important;
}

@media only screen and (max-width: 767px){
    nav label{
        display: block;
    }
    .menu{
        position: absolute;
        width: 93%;
        background: #253C68;
        margin-left: -100%;
        transition: 0.5s;
    }
    .menu ul{
        flex-direction: column;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;    
    }
    .margen-nav-separador-superior{
        transition: 0.5s;
    }
    #btn-menu:checked ~ .margen-nav-separador-superior{
        margin-top: 236px;
    }
    .menu li a{
        padding: 15px 0;
        margin-right: auto;
    }
    .menu li{
        display: flex;
        padding-left: 10px;
        border-top: 1px solid #fff;
    }
    .menu li img{
        display: block;
        padding-top: 10px;
        padding-right: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .menu{
        width: 96%;
    }
}