/*seccion-uno*/

.separador-deportes{
    background: #fff;
    margin-top: 0px !important;
}

@media only screen and (max-width: 575px){
    .deportes{
        display: grid;
        grid-template: minmax(150px, auto) repeat(4, minmax(100px, auto)) / 1fr;
        grid-template-areas: "deportes1"
                             "deportes2"
                             "deportes3" 
                             "deportes4"
                             "deportes5";
    }
    .contenedor-imagen-deportes1{
        height: 230px;
    }
    .contenedor-titular-deportes1{
        width: 100%;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: block;
    }
    .deportes2, .deportes3, .deportes4, .deportes5{
        display: flex;
    }
    .contenedor-imagen-deportes2,
    .contenedor-imagen-deportes3,
    .contenedor-imagen-deportes4,
    .contenedor-imagen-deportes5{
        width: 50%;
        height: 100px;
    }
    .contenedor-titular-deportes{
        font-size: 14px;
        line-height: 1.3em;
        width: 50%;
    }
    .titular-deportes2{
        padding-left: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .deportes{
        display: grid;
        grid-template: repeat(3, minmax(150px, auto)) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes1"
                             "deportes2 deportes3"
                             "deportes4 deportes5";
    }
    .deportes1{
        display: flex;
    }
    .contenedor-imagen-deportes1{
        width: 50%;
        height: 200px;
        margin-right: 10px;
    }
    .contenedor-titular-deportes1{
        width: 50%;
    }
    .texto-deportes1{
        display: block;
    }
    .contenedor-imagen-deportes2,
    .contenedor-imagen-deportes3,
    .contenedor-imagen-deportes4,
    .contenedor-imagen-deportes5{
        height: 180px;
    }
    .titular-deportes2{
        padding-top: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1100px){
    .deportes{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes3"
                             "deportes1 deportes4"
                             "deportes2 deportes5";
    }
    .contenedor-imagen-deportes1{
        height: 260px;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: none;
    }
    .deportes2, .deportes3, .deportes4, .deportes5{
        display: flex;
    }
    .contenedor-imagen-deportes2,
    .contenedor-imagen-deportes3,
    .contenedor-imagen-deportes4,
    .contenedor-imagen-deportes5{
        width: 60%;
        height: 150px;
    }
    .contenedor-titular-deportes{
        width: 40%;
    }
    .titular-deportes2{
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1100px){
    .deportes{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes3"
                             "deportes1 deportes4"
                             "deportes2 deportes5";
    }
    .contenedor-imagen-deportes1{ 
        height: 320px;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: none;
    }
    .deportes2, .deportes3, .deportes4, .deportes5{
        display: flex;
    }
    .contenedor-imagen-deportes2,
    .contenedor-imagen-deportes3,
    .contenedor-imagen-deportes4,
    .contenedor-imagen-deportes5{
        width: 55%;
        height: 170px;
    }
    .contenedor-titular-deportes{
        width: 45%;
    }
    .titular-deportes2{
        padding-left: 10px;
    }
}

.deportes{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    background: #075584;
    padding: 10px;
}

.deportes1{
    grid-area: deportes1;
    padding-top: 10px;
    border-top: 1px solid #808080;
}

.deportes2{
    grid-area: deportes2;
}

.contenedor-imagen-deportes1{
    background: url("../Recursos/Imágenes/Taekwondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.titular-deportes1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #D1D1D1;
}

.texto-deportes1{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #D1D1D1;
    padding-top: 5px;
}

.contenedor-imagen-deportes2{
    background: url("../Recursos/Imágenes/Futbol_Amateur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-imagen-deportes3{
    background: url("../Recursos/Imágenes/Tenis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-imagen-deportes4{
    background: url("../Recursos/Imágenes/Michael_Jordan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor-imagen-deportes5{
    background: url("../Recursos/Imágenes/Bundesliga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.deportes2, .deportes3, .deportes4, .deportes5{
    padding-top: 10px;
    border-top: 1px solid #808080;
}

.titular-deportes2{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #D1D1D1;
    font-weight: 400;
}

/*sección-dos*/

.seccion-dos{
    display: grid;
    grid-template: minmax(20px, auto) minmax(400px, auto) minmax(300px, auto) / 3fr 1fr;
    grid-template-areas: "contenedor-titulo-entretencion vacio"
                                "contenedor-entretencion publicidad"
                                   "contenedor-educacion publicidad";
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .seccion-dos{
        display: grid;
        grid-template: minmax(20px, auto) 1fr minmax(400px, auto) minmax(300px, auto) minmax(400px, auto) / 1fr;
        grid-template-areas: "contenedor-titulo-entretencion"
                             "vacio"
                             "contenedor-entretencion"
                             "contenedor-educacion"
                             "publicidad";
    }
}

/*Entretención*/

.contenedor-entretencion{
    display: grid;
    grid-template: minmax(300px, auto) repeat(2, minmax(150px, auto)) / repeat(2, 1fr);
    grid-template-areas: "entretencion1 entretencion2"
                         "entretencion3 entretencion4"
                         "entretencion5 entretencion6";                           
    grid-gap: 10px;
    background: #fff;
    border: 10px solid #4F4949;
    padding: 0px 10px;
}

@media only screen and (max-width: 575px) {
    .contenedor-entretencion{
        display: grid;
        grid-template: minmax(300px, auto) repeat(5, minmax(150px, auto)) / 1fr;
        grid-template-areas: "entretencion1"
                             "entretencion2"
                             "entretencion3"
                             "entretencion4"
                             "entretencion5"
                             "entretencion6";
    }
}

.imagen-principal-entretencion{
    background: url("../Recursos/Imágenes/Festival_Cine_Logo_Definitivo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.entretencion2{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.titular-principal-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    padding: 5px 0px;
}

.texto-principal-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #000000;
    padding: 5px 0px;
}

.entretencion2{
    border-bottom: 1px solid #448AFF;
}

@media only screen and (min-width: 576px) {
    .entretencion1{
        border-bottom: 1px solid #448AFF;
    }
}

@media only screen and (max-width: 575px) {
    .entretencion5{
        border-bottom: 1px solid #448AFF;
    }
}

@media only screen and (min-width: 768px) {
    .entretencion3, .entretencion4, .entretencion5, .entretencion6{
        display: flex;
    }
}

.imagen-noticias-entretencion{
    width: 200px;
    height: 140px;
    margin-right: 10px;
}

.titular-noticias-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .titular-noticias-entretencion{
        padding-bottom: 5px;
    }
}

.entretencion3, .entretencion4{
    border-bottom: 1px solid #448AFF;
}

/*separador*/

.separador{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F31600;
    margin: 20px 0 10px 0;
}

.texto-separador{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: #F31600;
}

.icono-separador{
    width: 30px;
}

/*Educación*/

.educacion{
    display: grid;
    grid-template: minmax(300px, auto) minmax(150px, auto) / repeat(2, 1fr);
    grid-template-areas: "educacion1 educacion1"
                         "educacion2 educacion3";
    grid-gap: 10px;
    background: #4267b2;
    padding: 10px;             
}

@media only screen and (max-width: 575px) {
    .educacion{
        display: grid;
        grid-template: minmax(300px, auto) repeat(2, minmax(150px, auto)) / 1fr;
        grid-template-areas: "educacion1"
                             "educacion2"
                             "educacion3";
    }
}

.educacion1{
    grid-area: educacion1;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.contenedor-imagen-educacion{
    background: url("../Recursos/Imágenes/Universidad_de_Concepción.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 250px;
    width: 80%;
}

/*.imagen-principal-educacion{
    width: 100%;
    height: 250px;
}*/

@media only screen and (max-width: 575px) {
    .contenedor-titular-educacion{
        padding: 5px 0px;
    }
    .contenedor-imagen-educacion{
        width: 100%;
    }
}

.titular-principal-educacion{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
}

.texto-principal-educación{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #fff;
}

@media only screen and (min-width: 576px) {
    .educacion1{
        position: relative;
        height: 330px;
    }

    .contenedor-imagen-educacion{
        height: 320px;
    }

    .imagen-principal-educacion{
        position: relative;
        width: 85%;
        height: 320px;
    }
    
    .contenedor-titular-educacion{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 320px;    
        background: linear-gradient(to right,rgba(255,0,0,0)60%,rgba(0,0,0,1)80%);
        padding-bottom: 0px;
    }
    
    .titular-principal-educacion{
        width: 38%;
        position: relative;
        top: 20%;
        left: 60%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        padding-bottom: 0px;
    }
    
    .texto-principal-educación{
        width: 38%;
        position: relative;
        top: 22%;
        left: 60%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.25;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .educacion2, .educacion3{
        display: flex;
    }
}

.educacion2, .educacion3{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.imagen-noticias-educacion{
    width: 210px;
    height: 140px;
    margin-right: 10px;
}

.titular-noticias-educacion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .titular-noticias-educacion{
        padding-bottom: 5px;
    }
}

/*seccion-tres*/

.contenedor-tablas-finanzas{
    width: 100%;
}

.contenedor-titulo-tablas{
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #405C8C;
    margin-bottom: 10px;
}

.margen-tabla3-finanzas, .margen-tabla4-finanzas{
    margin-top: 15px;
}

.margen-tabla2-finanzas{
    margin-top: 15px;
}

.titulo-tabla-uno, .titulo-tabla-tres{
    width: 50%;
}

.tabla-superior-finanzas{
    height: 130px;
}

.tabla-inferior-finanzas{
    height: 160px;
}

table{
    width: 100%;    
    border-collapse: collapse;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 0.95rem;
    font-weight: 700;
}

table th{
    font-weight: bold;
}

table tr:first-of-type{
    color: #fff;
    background: #257DC0;
}

table tr:last-of-type{
    border-bottom: 2px solid #257DC0;
}

table tr:nth-child(n):not(:first-of-type){
    color: #405C8C;
    text-align: left;
}

table tr:nth-child(n):not(:first-of-type):not(:last-of-type){
    border-bottom: 1px solid #999999;
}

table tr:first-of-type > th:nth-child(n):not(:first-of-type){
    text-align: left;
}

.iconos-finanzas{
    width: 18px;
    vertical-align: bottom;
}

.iconos-finanzas-top{
    width: 18px;
    vertical-align: top;
}

@media only screen and (min-width: 768px) {
    .seccion-superior-finanzas, .seccion-inferior-finanzas{
        display: flex;
        justify-content: space-between;
    }
    .contenedor-tablas-finanzas{
        width: 49%;
    }
    .margen-tabla2-finanzas{
        margin-top: 0px;
    }
}

/*seccion-cuatro*/

.seccion-cuatro{
    display: grid;
    grid-template: minmax(20px, auto) minmax(300px, auto) / 3fr 1fr;
    grid-template-areas: "contenedor-titulo-videos vacio-inferior"
                                "contenedor-videos publicidad-inferior";
    margin-bottom: 10px;
}

@media only screen and (max-width: 991px){
    .seccion-cuatro{
        display: grid;
        grid-template: minmax(20px, auto) 1fr repeat(2, minmax(300px, auto)) / 1fr;
        grid-template-areas: "contenedor-titulo-videos"
                             "vacio-inferior"
                             "contenedor-videos"
                             "publicidad-inferior";
    }
}

.videos{
    display: grid;
    grid-template: repeat(2, minmax(150px, auto)) / repeat(2, 1fr);
    grid-template-areas: "video1 video2"
                         "video3 video4";
    grid-gap: 10px;
}

@media only screen and (max-width: 767px){
    .videos{
        display: grid;
        grid-template: repeat(4, minmax(150px, auto)) / 1fr;
        grid-template-areas: "video1"
                             "video2"
                             "video3"
                             "video4";
    }
}

.video1, .video2, .video3, .video4{
    border-bottom: 1px solid #999999;
}

.titulos-encabezado-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #104e94;
    padding: 4px;
    margin-bottom: 10px;
}

.dimension-videos{
    height: 270px;
    width: 100%;
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .dimension-videos{
        height: 380px !important;
    }
}

/*@media only screen and (max-width: 575px){
    .dimension-videos{
        height: 270px;
    }
}

@media only screen and (min-width: 768px){
    .dimension-videos{
        height: 270px;
    }
}*/

.titulos-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #000000;
    border-bottom: 1px solid #999999;
    padding-bottom: 4px;
}

.texto-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    color: #000;
    padding: 4px 0;
    line-height: 1.25;
}