/*seccion-uno*/

@media only screen and (max-width: 575px){
    .deportes{
        display: grid;
        grid-template: repeat(5, minmax(150px, auto)) / 1fr;
        grid-template-areas: "deportes1"
                             "deportes2"
                             "deportes3" 
                             "deportes4"
                             "deportes5";
    }
    .contenedor-imagen-deportes1{
        width: 100%;
        height: 230px;
    }
    .contenedor-titular-deportes1{
        width: 100%;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: block;
    }
    .contenedor-imagen-deportes{
        height: 230px;
    }
    .titular-deportes2{
        padding-top: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .deportes{
        display: grid;
        grid-template: repeat(3, minmax(150px, auto)) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes1"
                             "deportes2 deportes3"
                             "deportes4 deportes5";
    }
    .deportes1{
        display: flex;
    }
    .contenedor-imagen-deportes1{
        width: 50%;
        height: 200px;
        padding-right: 10px;
    }
    .contenedor-titular-deportes1{
        width: 50%;
    }
    .texto-deportes1{
        display: block;
    }
    .contenedor-imagen-deportes{
        height: 180px;
    }
    .titular-deportes2{
        padding-top: 5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1100px){
    .deportes{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes3"
                             "deportes1 deportes4"
                             "deportes2 deportes5";
    }
    .contenedor-imagen-deportes1{
        width: 100%;
        height: 260px;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: none;
    }
    .deportes2, .deportes3, .deportes4, .deportes5{
        display: flex;
    }
    .contenedor-imagen-deportes{
        width: 60%;
        height: 150px;
    }
    .contenedor-titular-deportes{
        width: 40%;
    }
    .titular-deportes2{
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1100px){
    .deportes{
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas: "deportes1 deportes3"
                             "deportes1 deportes4"
                             "deportes2 deportes5";
    }
    .contenedor-imagen-deportes1{
        width: 100%;
        height: 320px;
    }
    .titular-deportes1{
        padding-top: 5px;
    }
    .texto-deportes1{
        display: none;
    }
    .deportes2, .deportes3, .deportes4, .deportes5{
        display: flex;
    }
    .contenedor-imagen-deportes{
        width: 55%;
        height: 170px;
    }
    .contenedor-titular-deportes{
        width: 45%;
    }
    .titular-deportes2{
        padding-left: 10px;
    }
}

.deportes{
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    background: #075584;
    padding: 10px;
}

.deportes1{
    grid-area: deportes1;
    padding-top: 10px;
    border-top: 1px solid #808080;
}

.deportes2{
    grid-area: deportes2;
}

.imagen-deportes1{
    background: url("../Recursos/Imágenes/Taekwondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.titular-deportes1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #D1D1D1;
}

.texto-deportes1{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #D1D1D1;
    padding-top: 5px;
}

.imagen-deportes2{
    background: url("../Recursos/Imágenes/Futbol_Amateur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%
}

.imagen-deportes3{
    background: url("../Recursos/Imágenes/Tenis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%
}

.imagen-deportes4{
    background: url("../Recursos/Imágenes/Michael_Jordan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%
}

.imagen-deportes5{
    background: url("../Recursos/Imágenes/Bundesliga.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100%
}

.deportes2, .deportes3, .deportes4, .deportes5{
    padding-top: 10px;
    border-top: 1px solid #808080;
}

.imagen-deportes2{
    width: 100%;
    height: 100%;
}

.titular-deportes2{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #D1D1D1;
    font-weight: 400;
}

/*.container{
    position: relative;
    height: 500px;
    background: #4c4c4c;
    border: 10px solid #2c2c2c;
}

.slide_img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide_img img{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre, .nxt{
    width: 8%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    vertical-align: middle;
}

.pre{
    left: 0;
}

.nxt{
    right: 0;
}

.nav{
    width: 100%;
    height: 11px;
    bottom: 5%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots{
    top: -5px;
    width: 18px;
    height: 18px;
    margin: 0 4px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, .6);
}

.slide_img{
    z-index: -1;
}

#i1:checked ~ #one, #i2:checked ~ #two, #i3:checked ~ #three{
    z-index: 9;
}

#i1:checked ~ .nav #dot1, #i2:checked ~ .nav #dot2, #i3:checked ~ .nav #dot3{
    background: #fff;
}*/
/*@media only screen and (min-width: 992px){
    .contenedor-cuerpo-carrusel{
        display: grid;
        grid-template: minmax(100px, auto) minmax(400px, auto) / repeat(2, 50%);
        grid-template-areas: "encabezado encabezado"
                          "imagecarrusel textocarrusel";
        column-gap: 20px;
    }
    .encabezado{
        grid-area: encabezado;
    }
    .imagecarrusel{
        height: 430px;
    }
}

@media only screen and (max-width: 991px){
    .contenedor-cuerpo-carrusel{
        display: grid;
        grid-template: minmax(100px, auto) minmax(400px, auto) minmax(400px, auto) / 1fr;
        grid-template-areas: "encabezado"
                          "imagecarrusel"
                           "textocarrusel";
    
    }
    .encabezado{
        grid-area: encabezado;
    }
    .imagecarrusel{
        
    }
}

.seccion-uno{
    height: 1000px;
    display: flex;    
    background: #4267b2;
}

.titular-deportes{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


.imagecarrusel{
    
    display: flex;
    flex-direction: column;
}

.imagen-principal-deportes{
    
}

.texto-imagen-carrusel{    
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    color: #000000;
    background: #F3F3F3;
    padding: 2px 5px;
}



.texto-creditos-carrusel{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    line-height: 1.25;
    margin-bottom: 10px;
}

.texto-noticias-carrusel{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #000000;
    line-height: 1.5;
    margin-bottom: 5px;
    text-align: justify;
}

.container-all{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #fff;
    width: 40px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}*/

/*sección-dos*/

.seccion-dos{
    display: grid;
    grid-template: minmax(20px, auto) minmax(400px, auto) minmax(300px, auto) / 3fr 1fr;
    grid-template-areas: "contenedor-titulo-entretencion vacio"
                                "contenedor-entretencion publicidad"
                                   "contenedor-educacion publicidad";
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .seccion-dos{
        display: grid;
        grid-template: minmax(20px, auto) 1fr minmax(400px, auto) minmax(300px, auto) minmax(400px, auto) / 1fr;
        grid-template-areas: "contenedor-titulo-entretencion"
                             "vacio"
                             "contenedor-entretencion"
                             "contenedor-educacion"
                             "publicidad";
    }
}

/*Publicidad*/
 
.publicidad{
    grid-area: publicidad;
    display: grid;
    grid-template: minmax(250px, auto) 1fr minmax(250px, auto) / 1fr;
    grid-template-areas: "publicidad1"
                         "publicidad2"
                         "publicidad3";
    row-gap: 10px;
    padding-left: 10px;
}

.publicidad1{
    background: #C41114;
    padding: 20px 0;
}

.contenedor-superior-publicidad1{
    display: flex;
}

.texto-superior-publicidad1{
    width: 60%;
    height: 100px;
}

.texto-portal-publicidad1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.texto-coronel-publicidad1{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
}

.contenedor-imagen-publicidad1{
    height: 100px;
}

.imagen-publicidad1{
    width: 80px;
    height: 100px;
}

.texto-conjunto-publicidad1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.5px;
}

.texto-visite-publicidad1, .texto-piloto-publicidad1{
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.texto-piloto-publicidad1{
    line-height: .8;
}

.publicidad2{
    grid-area: publicidad2;
    background: url("../Recursos/Imágenes/Casa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: slider 14s infinite alternate;
}

@keyframes slider{
    from{
        background-position: left center;
    }
    to{
        background-position: right center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .publicidad{
        grid-area: publicidad;
        display: grid;
        grid-template: repeat(2, minmax(250px, auto)) / repeat(3, 1fr);
        grid-template-areas: "publicidad1 publicidad2 publicidad2"
                             "publicidad3 publicidad2 publicidad2";
        column-gap: 10px;
        row-gap: 10px;
        padding-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .publicidad{
        grid-area: publicidad;
        display: grid;
        grid-template: repeat(2, minmax(250px, auto)) / repeat(2, 1fr);
        grid-template-areas: "publicidad1 publicidad2"
                             "publicidad3 publicidad2";
        column-gap: 10px;
        row-gap: 10px;
        padding-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 575px){
    .publicidad{
        grid-area: publicidad;
        display: grid;
        grid-template: minmax(300px, auto) minmax(650px, auto) minmax(350px, auto) / 1fr;
        grid-template-areas: "publicidad1"
                             "publicidad2"
                             "publicidad3";
        row-gap: 10px;
        padding-left: 0px;
        margin-top: 10px;
    }
}

.publicidad3{
    position: relative;
    background: url("../Recursos/Imágenes/Niños_Estudiando.jpg");
    background-size: cover;
    background-position: center center;
}

.contenedor-superior-publicidad3{
    position: absolute;
    top: 28%;
    left: 4%;
}

.texto-titulos-publicidad3{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: bolder;
    color: #C9C9C9;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1;
}

.texto-subtitulos-publicidad3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    color: #C9C9C9;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1;
}

.texto-matriculas-publicidad3{
    font-family: 'Lato', sans-serif;
    font-size: 9px;
    font-weight: bolder;
    color: #232399;
    background-color: #E0E01C;
    padding: 3px;
}

.contenedor-subimagen-publicidad3{
    position: absolute;
    bottom: 3%;
    right: 3%;
    background: url("../Recursos/Imágenes/We_Tripantu.jpg");
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
}

.contenedor-inferior-publicidad3{
    position: absolute;
    bottom: 2%;
    left: 4%;
    font-family: 'Plaster', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: #0B570B;
    text-shadow: 1px 1px 1px #fff;
    line-height: 1;
}

/*Entretención*/

.contenedor-entretencion{
    display: grid;
    grid-template: minmax(300px, auto) repeat(2, minmax(150px, auto)) / repeat(2, 1fr);
    grid-template-areas: "entretencion1 entretencion2"
                         "entretencion3 entretencion4"
                         "entretencion5 entretencion6";                           
    grid-gap: 10px;
    background: #fff;
    border: 10px solid #4F4949;
    padding: 0px 10px;
}

@media only screen and (max-width: 575px) {
    .contenedor-entretencion{
        display: grid;
        grid-template: minmax(300px, auto) repeat(5, minmax(150px, auto)) / 1fr;
        grid-template-areas: "entretencion1"
                             "entretencion2"
                             "entretencion3"
                             "entretencion4"
                             "entretencion5"
                             "entretencion6";
    }
}

.imagen-principal-entretencion{
    background: url("../Recursos/Imágenes/Festival_Cine_Logo_Definitivo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.entretencion2{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.titular-principal-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000000;
    padding: 5px 0px;
}

.texto-principal-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #000000;
    padding: 5px 0px;
}

.entretencion2{
    border-bottom: 1px solid #448AFF;
}

@media only screen and (min-width: 576px) {
    .entretencion1{
        border-bottom: 1px solid #448AFF;
    }
}

@media only screen and (max-width: 575px) {
    .entretencion5{
        border-bottom: 1px solid #448AFF;
    }
}

@media only screen and (min-width: 768px) {
    .entretencion3, .entretencion4, .entretencion5, .entretencion6{
        display: flex;
    }
}

.imagen-noticias-entretencion{
    width: 200px;
    height: 140px;
    margin-right: 10px;
}

.titular-noticias-entretencion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
}

@media only screen and (max-width: 767px) {
    .titular-noticias-entretencion{
        padding-bottom: 5px;
    }
}

.entretencion3, .entretencion4{
    border-bottom: 1px solid #448AFF;
}

/*separador*/

.separador{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #F31600;
    margin-top: 10px;
}

.texto-separador{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: #F31600;
}

.icono-separador{
    width: 30px;
}

/*Educación*/

.educacion{
    display: grid;
    grid-template: minmax(300px, auto) minmax(150px, auto) / repeat(2, 1fr);
    grid-template-areas: "educacion1 educacion1"
                         "educacion2 educacion3";
    grid-gap: 10px;
    background: #4267b2;
    padding: 10px;             
}

@media only screen and (max-width: 575px) {
    .educacion{
        display: grid;
        grid-template: minmax(300px, auto) repeat(2, minmax(150px, auto)) / 1fr;
        grid-template-areas: "educacion1"
                             "educacion2"
                             "educacion3";
    }
}

.educacion1{
    grid-area: educacion1;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.contenedor-imagen-educacion{
    height: 250px;
}

.imagen-principal-educacion{
    width: 100%;
    height: 250px;
}

@media only screen and (max-width: 575px) {
    .contenedor-titular-educacion{
        padding: 5px 0px;
    }
}

.titular-principal-educacion{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding-bottom: 5px;
}

.texto-principal-educación{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.25;
    color: #fff;
}

@media only screen and (min-width: 576px) {
    .educacion1{
        position: relative;
        height: 330px;
    }

    .contenedor-imagen-educacion{
        height: 320px;
    }

    .imagen-principal-educacion{
        position: relative;
        width: 85%;
        height: 320px;
    }
    
    .contenedor-titular-educacion{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 320px;    
        background: linear-gradient(to right,rgba(255,0,0,0)60%,rgba(0,0,0,1)85%);
        padding-bottom: 0px;
    }
    
    .titular-principal-educacion{
        width: 38%;
        position: relative;
        top: 20%;
        left: 60%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        padding-bottom: 0px;
    }
    
    .texto-principal-educación{
        width: 38%;
        position: relative;
        top: 22%;
        left: 60%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.25;
        color: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .educacion2, .educacion3{
        display: flex;
    }
}

.educacion2, .educacion3{
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.imagen-noticias-educacion{
    width: 210px;
    height: 140px;
    margin-right: 10px;
}

.titular-noticias-educacion{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

@media only screen and (max-width: 767px) {
    .titular-noticias-educacion{
        padding-bottom: 5px;
    }
}

/*seccion-tres*/

.contenedor-tablas-finanzas{
    width: 100%;
}

.contenedor-titulo-tablas{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #405C8C;
    margin-bottom: 10px;
}

.margen-tabla3-finanzas, .margen-tabla4-finanzas{
    margin-top: 15px;
}

.margen-tabla2-finanzas{
    margin-top: 15px;
}

.titulo-tabla-uno, .titulo-tabla-tres{
    width: 50%;
}

.tabla-superior-finanzas{
    height: 130px;
}

.tabla-inferior-finanzas{
    height: 160px;
}

table{
    width: 100%;    
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

table th{
    font-weight: normal;
}

table tr:first-of-type{
    color: #fff;
    background: #257DC0;
}

table tr:last-of-type{
    border-bottom: 2px solid #257DC0;
}

table tr:nth-child(n):not(:first-of-type){
    color: #405C8C;
    text-align: left;
}

table tr:nth-child(n):not(:first-of-type):not(:last-of-type){
    border-bottom: 1px solid #999999;
}

table tr:first-of-type > th:nth-child(n):not(:first-of-type){
    text-align: left;
}

.iconos-finanzas{
    width: 18px;
    vertical-align: bottom;
}

.iconos-finanzas-top{
    width: 18px;
    vertical-align: top;
}

@media only screen and (min-width: 768px) {
    .seccion-superior-finanzas, .seccion-inferior-finanzas{
        display: flex;
        justify-content: space-between;
    }
    .contenedor-tablas-finanzas{
        width: 49%;
    }
    .margen-tabla2-finanzas{
        margin-top: 0px;
    }
}

/*seccion-cuatro*/

.seccion-cuatro{
    display: grid;
    grid-template: minmax(20px, auto) minmax(300px, auto) / 3fr 1fr;
    grid-template-areas: "contenedor-titulo-videos vacio-inferior"
                                "contenedor-videos publicidad-inferior";
}

@media only screen and (max-width: 991px){
    .seccion-cuatro{
        display: grid;
        grid-template: minmax(20px, auto) 1fr repeat(2, minmax(300px, auto)) / 1fr;
        grid-template-areas: "contenedor-titulo-videos"
                             "vacio-inferior"
                             "contenedor-videos"
                             "publicidad-inferior";
    }
}

.videos{
    display: grid;
    grid-template: repeat(2, minmax(150px, auto)) / repeat(2, 1fr);
    grid-template-areas: "video1 video2"
                         "video3 video4";
    grid-gap: 10px;
}

@media only screen and (max-width: 767px){
    .videos{
        display: grid;
        grid-template: repeat(4, minmax(150px, auto)) / 1fr;
        grid-template-areas: "video1"
                             "video2"
                             "video3"
                             "video4";
    }
}

.video1, .video2, .video3, .video4{
    border-bottom: 1px solid #999999;
}

.titulos-encabezado-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #fff;
    background: #104e94;
    padding: 4px;
    margin-bottom: 10px;
}

.dimension-videos{
    height: 270px;
    width: 100%;
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .dimension-videos{
        height: 380px !important;
    }
}

/*@media only screen and (max-width: 575px){
    .dimension-videos{
        height: 270px;
    }
}

@media only screen and (min-width: 768px){
    .dimension-videos{
        height: 270px;
    }
}*/

.titulos-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000000;
    border-bottom: 1px solid #999999;
    padding-bottom: 4px;
}

.texto-videos{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
    padding: 4px 0;
    line-height: 1.25;
}

/*Publicidad Inferior*/

@media only screen and (min-width: 992px){
    .publicidad-inferior{
        margin-left: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px){
    .publicidad-inferior{
        display: flex;
    }
    .cinco{
        width: 50%;
        margin-top: 10px;
        margin-right: 5px;
    }
    .publicidad-inferior2{
        width: 50%;
        margin-left: 5px;
    }
}

.publicidad-inferior1{
    background: url("../Recursos/Imágenes/Cascada.jpg");
    background-size: cover;
    background-position: center center;
    height: 400px;
}

.contenedor-texto-publicidad-inferior1{
    padding-left: 5px;
}

.titulo-publicidad-inferior1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 31px;
    font-weight: bold;
    color: #D67E19;
    text-shadow: 1px 1px 1px #fff;
}

.trekking-publicidad-inferior1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.km-publicidad-inferior1{
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.cascada-publicidad-inferior1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.fecha-publicidad-inferior1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}

.hora-publicidad-inferior1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #fff;
    line-height: 1;
}

.texto-inferior-publicidad-inferior1{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    background-color: #296D29;
    text-align: center;
}

.publicidad-inferior2{
    position: relative;
    background: url("../Recursos/Imágenes/dog.jpg");
    background-size: cover;
    background-position: right;
    height: 300px;
    margin-top: 10px;
}

.contenedor1-publicidad-inferior2{
    position: absolute;
    top: 20%;left: 2%;
}

.titulos-publicidad-inferior2{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #409AB1;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1;
}

.subtitulos-publicidad-inferior2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #409AB1;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1;
}

.contenedor2-publicidad-inferior2{
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #BDBA21;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1;
}