*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > ul{
    display: flex;
    justify-content: space-around;    
}

nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav ul{
    list-style: none;
}

nav > ul > li{
    position: relative;
    transition: 0.5s;
}

nav > ul > li > ul{
    position: absolute;
    transform: scaleY(0);
    transform-origin: left top;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 1000px;
    left: 0;
    right: 0;
}

nav ul > li:hover > ul {
	transition: transform 0.3s;
	transform: scaleY(1);
}